:root {
    --cor-vermelha-principal: #d60223;
    --salmao: #f89284;
    --tom-rosa-claro: #ffbebe;

    --marrom-fraco: #ebd5d2;

    --cor-azul-principal: #0271F7;
    --cor-azul-media: #8fbff8;
    --cor-azul-fraca: #d3ffff;

    --lilas-claro: #c2c2f1;

    --titulo-fraco: #faefd8;
    --titulo-forte: #f77a2c;

    --cor-padrao: #fff;
    --cor-secundaria: #000;
}